* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial;
    /* overflow-x: hidden; */
}

.starcolor {
    color: orange;
}

.select_button {
    text-align: center;
}

.select_button button {
    background-color: #00A699;
    color: #ffff;
    border: none;
    padding: 6px 15px;
    font-weight: 600;
    margin-top: 20px;
}

.contact_firstone {
    padding: 20px 40px;
}

.contact_firstone h6,
h5 {
    font-weight: 600;
}

.contact_firstone div {
    margin-top: -5px;
}

.contact_icon_dev {
    display: flex;
    justify-content: flex-start;
}

.contact_icon_dev p {
    margin-left: 20px;
}

.directions {
    /* margin-top: -15px; */
    margin-bottom: 20px;
    margin-left: 30px;
    font-size: 12px;
}

.lastfooter_div {
    /* width: 10% !important; */
    margin: 50px auto !important;
}

.lastfooter_div h5 {
    font-size: 16px;
    font-weight: 500;
    margin: 0px;

}

.lastfooter_div p {
    font-size: 15px;
    color: #9F9F9F;
    margin-bottom: 0px;
}
.lastfooter_div p:hover{
 color: #2E3192;   
}
.lastfooter_div h5:hover{
 color: #2E3192;   
}

.footeerrow {
    width: 75%;
    margin: auto !important;

}

.footerlastcopu {
    width: 75%;
    margin-top: -30px !important;
    margin: auto;
}

.footerlastcopu p {
    font-size: 13px;
    margin-left: 15px;
    color: rgb(114, 114, 114);
    background-color: rgba(0, 0, 0, 0);
}

.footericon {
    width: 75% !important;
    margin: auto;
    margin-top: 200px;
    margin-bottom: -50px;
    color: #2E319E;
    font-size: 20px;
    padding-top: 20px;
}

.footericon_row p {
    padding-left: 15px;

}

.hometopcsss {
    margin-top: -40px !important;
    width: 97%;
    margin: auto;

}



@media only screen and (max-width: 766px) {
    .footerlastcopu p {
        margin-left: 0px;
    }

    .lastfooter_div {
        margin-top: -30px !important;
    }

    .footericon {
        margin-top: 200px;
        margin-bottom: -10px;
    }

    .footericon_row p {
        padding-left: 1px;

    }

    .diviconimg {
        display: flex;
        justify-content: flex-start !important;
    }
}

@media only screen and (max-width: 991px) {
    .footerlastcopu p {
        margin-left: 0px;
    }

    .lastfooter_div {
        margin-top: 20px !important;
    }

    .footericon {
        margin-top: 200px;
        margin-bottom: -10px;
    }

    .footericon_row p {
        padding-left: 1px;

    }

    .hometopcsss {
        margin-top: -20px !important;
    }

    .diviconimg {
        display: flex;
        justify-content: flex-start !important;
    }
}

.diviconimg {
    display: flex;
    justify-content: flex-end;
}

.footericonhover {
    width: 35px;
    height: 30px;
    margin: -3px;
}

.iconimg_1 {
    width: 40px;
    height: 30px;
    margin: -3px;
    background-image: url('./img/download.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.iconimg_1:hover {
    width: 40px;
    height: 30px;
    margin: -3px;
    background-image: url('./img/download\ \(1\).png');
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(0.8);
    transition: linear 0.7s;
}

.iconimg_2 {
    width: 40px;
    height: 30px;
    margin: -3px;
    background-image: url('./img/android.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.iconimg_2:hover {
    width: 40px;
    height: 30px;
    margin: -3px;
    background-image: url('./img/android.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(0.8);
    transition: linear 0.7s;
}

.iconimg_3 {
    width: 40px;
    height: 30px;
    margin: -3px;
    background-image: url('./img/mobo3.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.iconimg_3:hover {
    width: 40px;
    height: 30px;
    margin: -3px;
    background-image: url('./img/mobo4.png');
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(0.8);
    transition: linear 0.7s;
}

.iconimg_4 {
    width: 40px;
    height: 30px;
    margin: -3px;
    background-image: url('./img/fb1.png');
    background-size: 80% 100%;
    background-repeat: no-repeat;
}

.iconimg_4:hover {
    width: 40px;
    height: 30px;
    margin: -3px;
    background-image: url('./img/fb2.png');
    background-size: 80% 100%;
    background-repeat: no-repeat;
    transform: scale(0.8);
    transition: linear 0.7s;
}

.iconimg_5 {
    width: 40px;
    height: 30px;
    margin: -3px;
    background-image: url('./img/twi1.png');
    background-size: 80% 100%;
    background-repeat: no-repeat;
}

.iconimg_5:hover {
    width: 40px;
    height: 30px;
    margin: -3px;
    background-image: url('./img/twi2.png');
    background-size: 80% 100%;
    background-repeat: no-repeat;
    transform: scale(0.8);
    transition: linear 0.7s;
}

.iconimg_6 {
    width: 40px;
    height: 30px;
    margin: -3px;
    background-image: url('./img/ink1.png');
    background-size: 80% 100%;
    background-repeat: no-repeat;
}

.iconimg_6:hover {
    width: 40px;
    height: 30px;
    margin: -3px;
    background-image: url('./img/ink2.png');
    background-size: 80% 100%;
    background-repeat: no-repeat;
    transform: scale(0.8);
    transition: linear 0.7s;
}

.countrycode {
    display: flex;
    justify-content: flex-start;
}

.countrycode p {
    font-size: 12px;
    color: #AAB5B5;
}

.countrycode input {
    height: 10px;
    border: none;
    padding-left: 10px;
    width: 100px;
    font-size: 10px;
}

.countrycode img {
    height: 10px;
    margin: 5px;
    width: 10px;
}

.headermain_1 {
    width: 95%;
    margin: 0px auto;
}

.headermain_1 img {
    height: 70%;
}

.headerimgpart_2 {
    display: flex;
    justify-content: flex-start;
}

.blueheaven {
    padding: 10px;
    font-size: 13px;
}

.blueheaven h3 {
    font-weight: 600;
}

.svgicons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;
}

/* .navabarshome{
            width: 85%;
            margin: auto;
        } */


/* nabavr css */
.navbar {
    background: #fff;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 1px 3px 4px 0 #adadad33;
}

.navbar-light .navbar-brand {
    color: #2196F3;
}

.navbar-light .navbar-nav .nav-link {
    color: #0d0e0e;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: #0c08dd;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    transition: 0.3s;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 16px;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    /* background: #2D3192; */
    color: #0d0e0e;
    transition: 0.3s;
}

.dropdown-item:focus,
.dropdown-item:hover {
    text-decoration: underline;
}

.sm-menu {
    border-radius: 0px;
    border: 0px;
    /* top: 97%; */
    top: 70%;
    box-shadow: rgba(173, 173, 173, 0.2) 1px 3px 4px 0px;
}

.dropdown-item {
    color: #3c3c3c;
    font-size: 14px;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #2196F3;
}

.navbar-toggler {
    outline: none !important;
}

.navbar-tog {
    color: #1ebdc2;
}

.megamenu-li {
    position: static;
}

.megamenu {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    padding: 15px;
}

.megamenu h6 {
    margin-left: 21px;
    font-weight: 800;
}

.megamenu i {
    width: 20px;
}

/* nabar css end */



.phone_no_css {
    border: 1px solid #04766D;
    width: 200px;
    height: 40px;
    font-size: 14px;
}

.phone_no_css p {
    margin: 5px 10px;
    text-align: center;
}

/*twoemialdiv  */

.twoemialdiv{
    margin-bottom: 10px;

}

#mobile_nav{
    background-color: #eaeaf4;
}

.email_msg {
    width: 200px;
    height: 40px;
    background-color: #04766D;

}

.email_msg p {
    text-align: center;
    padding-top: 10px;

}


/* aboutuscsss */
.aboutus_data {
    width: 95%;
    margin: auto;
}

.sidefirstdaat {
    position: sticky !important;
    top: 0px;
}

.sidefirstdaat p {
    font-size: 12px;
    padding-left: 5px;
}

.sideinfor {
    text-align: justify;
    line-height: 30px;
}

.sideinfor h3,
h6 {
    font-weight: 700;

}

.fa-angle-down {
    font-size: 18px;
}

.ulhidediv {
    margin: 0px 0px;
}

.ulhidediv li {
    list-style: none;
    margin-left: -30px;
    font-size: 13px;
    color: #777777;

}

.productservices {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
}

.productservices p {
    font-size: 14px;
    margin: 20px 0px;
}

@media only screen and (max-width: 991px) {

    .sidefirstdaat {
        width: 100px;
    }

    .productservices {
        padding: 0px;
    }

    .productservices p {
        font-size: 10px;
        margin: 15px 0px;
    }

    .fa-angle-down {
        font-size: 15px;
    }

    .sideinfor h3,
    h6 {
        font-weight: 600;
        font-size: 10px;

    }


}

@media only screen and (max-width: 766px) {
    .sidefirstdaat {
        max-width: 100px;
    }

    .productservices {
        padding: 0px;
    }

    .productservices p {
        font-size: 10px;
        margin: 15px 0px;
    }

    .fa-angle-down {
        font-size: 15px;
    }

    .sideinfor h3,
    h6 {
        font-weight: 600;
        font-size: 10px;

    }



}


/* aboutus csss start */
.blue {
    background-color: #2D3192;
    color: #fff;
    padding: 5px 10px;
    font-size: 20px;
}

.companycs {
    display: grid;
    grid-template-columns: 250px repeat(2,1fr);
    /* grid-template-columns: repeat(3, 1fr); */
    gap: 30px;
    height: auto;
    margin: 30px;
}

.flexusingcss {
    display: flex;
    justify-content: start;
    letter-spacing: .8px;
}

.flexusingcss svg {
    margin: 9px 0px;
}

.flexusingcss p {
    padding-left: 20px;
    margin: 5px;
    font-size: 18px;
}

.blue_heaven {
    display: flex;
    flex-direction: column;
}

.blue_heaven p:first-child {
    font-weight: 700;
    font-size: 20px;
    line-height: 35px;
}

.blue_heaven p:last-child {
    font-size: 13px;
    letter-spacing: .8px;

}

.cpmanylist p {
    font-size: 17px;
    color: #333333;
    margin: 8px 0px;
    letter-spacing: .8px;
    line-height: 1.2;

}
.button_email{
    margin-top: 50px;
}
.button_email button:first-child{
    padding: 7px 15px;
   background:  -webkit-gradient(linear,left top,left bottom,from(#058b80),to(#02625a));
     color: #fff;
    border: 1px solid #02625a;
    font-size: 18px;
    width: fit-content;
    border-radius: 5px;

}
.button_email i{
    margin: 5px;
}
.button_email button:last-child{
    padding: 7px 15px;
    border-radius: 5px;
     color: #02625a;
    border: 1px solid #02625a;
    font-size: 18px;
    width: fit-content;

}
.formsubmits span{
    letter-spacing: .8px;
    color: #2E3192;
}
.formsubmits span:last-child{
    font-size: 18px;

}
.mobilenocss input{
    outline: none;
    width: 80%;
    border: none;
    padding: 15px;
}
.mobilenocss fieldset{
    border-radius: 5px;
}
.mobilenocss1{
    width: 100%;
    height: 23vh;
    margin-top: 20px;
}
.mobilenocss1 textarea{
    padding:20px 50px;
    border: none;
    width: 100%;
    height: 20vh;
    outline: none;
}
.select_button {
    text-align: center;
}

.select_button button {
    background:  -webkit-gradient(linear,left top,left bottom,from(#058b80),to(#02625a));
    color: #ffff;
    border: 1px solid #02625a;
    padding: 10px 15px;
    font-weight: 500;
    letter-spacing: 0.9px;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 5px;
}
.abouticonsthreee{
    display: flex;
    align-items: flex-start;
}
.abouticonsthreee div{
    margin-left: 15px;
}
.rotate360deg svg:hover{
    transform: rotate(360deg);
    transition: ease-in-out 0.3s ;

}
.countrycode {
    display: flex;
    justify-content: flex-start;
}

.countrycode p {
    font-size: 12px;
    color: #AAB5B5;
}

.countrycode input {
    height: 10px;
    border: none;
    padding-left: 10px;
    width: 100px;
    font-size: 10px;
}

.countrycode img {
    height: 10px;
    margin: 5px;
    width: 10px;
}
@media only screen and (max-width: 991px) {
    .companycs {
    grid-template-columns:  150px repeat(2,1fr);
}
.cpmanylist p ,h2{
    font-size: 14px;
}

}
@media only screen and (max-width: 766px) { 
    .companycs {
    grid-template-columns:  repeat(1,1fr);
}

}
/* aboutus csss end */