body{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #e9eaec;
}

#mainPage{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    width: 1300px;
    height: auto;
    box-sizing: border-box;
    border: 1px solid blue;
    margin: auto;
    background-color: white;
}

#home_aboutUs_sec{
    /* border: 1px solid black; */
    width: 1300px;
    height: auto;
    box-sizing: border-box;
    margin: auto;
    margin-bottom: 40px;

}

#heading_aboutUs{
    text-align: center;
    margin-bottom: 10px;
}

.aboutUs_link{
    text-decoration: none;
    color: black;
    position: relative;
    font-weight: 600;
}
.aboutUs_link:hover{
    text-decoration: none;
    color: black;
}

/* common */

.underline_blue{
    background-color: #2d3192;
    margin: auto;
    width: 35px;
    height: 3px;
    text-align: center;
    top: 100%;
    /* bottom: 0; */
    left: 0;
    right: 0;
    position: absolute;
}

/* content */

#aboutUs_content_div{
    box-sizing: border-box;
    display: block;
    width: 1300px;
    height: auto;
    /* border: 1px solid black; */
    line-height: 1.56;
    font-size: 16px;
    padding: 0px 30px 0px 30px;
    margin-top: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.content_desc{
    min-height: 24px;
    max-height: 75px;
    overflow: hidden;
    color: #444;
}

.read_Link{
    color: #2e3192;
    font-size: 14px;
    margin-top: 4px;
    font-weight: 700;
    /* outline: none; */
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}
.read_Link:hover{
    text-decoration: underline;
}

/* firm_account_sec */
#firm_account_sec{
    height: auto;
    box-sizing: border-box;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;

}
#firm_four_sec{
    box-sizing: border-box;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: row;
    padding: 0 0 0 6px;
}

#sec_1_nature{
    width: 296px;
    margin-right: 30px;
    margin-top: 30px;
    /* border: 1px solid red; */
    display: flex;
    box-sizing: border-box;
}

#firm_img{
    width: 30%;
    /* border: 1px solid blue; */
}

#firm_text{
    width: 70%;
    /* border: 1px solid blue; */
    padding: 4px 1px 4px 1px;
    /* text-align: center; */
}

.firm_text_upper{
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 4px;
}
.firm_text_lower{
    margin-top: 0px;
    font-weight: 400;
    font-size: 16px;
    color: #111;
}

#firm_img .firm_busNat{
    height: 63px;
    width: 63px;
    border-radius: 50%;
    margin-right: 10px;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
    background-color: #efefef;
}

.firm_span .firm_busNat{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
    background-color: #efefef;
}
/* .firm_busNat{
    background-color: #c8c6c6;
} */

#sec_2_yoe{
    width: 296px;
    margin-right: 30px;
    margin-top: 30px;
    /* border: 1px solid red; */
    display: flex;
    box-sizing: border-box;

}

#sec_3_status{
    width: 296px;
    margin-right: 30px;
    margin-top: 30px;
    /* border: 1px solid red; */
    display: flex;
    box-sizing: border-box;

}

#sec_4_turnover{
    width: 296px;
    margin-right: 30px;
    margin-top: 30px;
    /* border: 1px solid red; */
    display: flex;
    box-sizing: border-box;

}

#firm_two_sec{
    box-sizing: border-box;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

#sec_5_impExp{
    width: 296px;
    margin-right: 30px;
    margin-top: 30px;
    /* border: 1px solid red; */
    display: flex;
    box-sizing: border-box;

}

#sec_6_gst{
    width: 296px;
    margin-right: 30px;
    margin-top: 30px;
    /* border: 1px solid red; */
    display: flex;
    box-sizing: border-box;

}

/* <!-- Products & Services Section --> */

#prod_sec{
    /* margin-top: 40px; */
    /* border: 1px solid black; */
    width: 1300px;
    height: auto;
    box-sizing: border-box;
    margin: auto;
}

#prod_head{
    text-align: center;
    margin-bottom: 10px;
}

.prod_head_style_link{
    text-decoration: none;
    color: black;
    position: relative;
    font-weight: 700;
}
.prod_head_style_link:hover{
    text-decoration: none;
    color: black;
}

/* prod_container */

#prod_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 500px);
    gap: 24px;
    padding: 4.6%;
    box-sizing: border-box;
}
#prod_subcont{
    box-sizing: border-box;
    border: 1px solid #eaeaea;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}

#prod_subcont:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
#prod_subcont_image{
    height: 60%;
    /* border: 1px solid blue; */
    display: flex;
    margin: auto;
    cursor: pointer;
    max-width: 250px;
}
/* .prod_subcont_img{
  
} */

#prod_subcont_text{
    height: 40%;
    /* border: 1px solid green; */
    padding-bottom: 10px;
}

#prod_subcont_text{
    text-align: center;
}

.prod_subcont_makeup{
    margin-top: 10px;
}

.prod_subcont_makeup:hover{
    text-decoration: underline;
}

.prod_subcont_makeup_link{
    color: #2d3192;
    text-decoration: none;
    font-size: 20px;
}

.prod_subcont_view{
    /* height: 64px; */
    /* margin-bottom: 1rem; */
    margin-top: 4rem;

}

.prod_subcont_text_1_link,
.prod_subcont_text_2_link,
.prod_subcont_text_3_link{
    text-decoration: none;
    color: #777;
}

.prod_subcont_text_1_link:hover,
.prod_subcont_text_2_link:hover,
.prod_subcont_text_3_link:hover{
    color:#111

}

.prod_subcont_text_height{
    height: 62px;
}

.prod_subcont_view{
    font-size: 15px;
    padding: 13px 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #068076;
    font-weight: bold;
    /* display: flex; */
}

.prod_subcont_view_text_link{
    margin-left: 0.2rem;
    font-size: 16px;
}

.prod_subcont_view_text:hover{
    text-decoration: underline;

}
/* Common */
/* relProdsMain */
#relProdsMain{
    width: 1300px;
    /* border: 1px solid black; */
    padding: 2%;
    box-sizing: border-box;
    margin: auto;
    /* margin-top: 2rem; */
}

#relCateg_header{
    margin-top: 0px;
    font-weight: 600;
}

#relProds{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 500px);
    gap: 24px;
    /* padding: 4.6%; */
    box-sizing: border-box;
    /* margin: auto; */
    /* margin-top: 4rem; */
    /* box-shadow: 0 0 13px 0 rgb(0 0 0 / 10%); */
}

/* relCateg */

#relCateg{
    width: 1300px;
    /* border: 1px solid black; */
    margin: auto;
    /* margin-top: 2rem; */
    padding: 2%;
    box-sizing: border-box;
}

#relCateg_cont{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 150px);
    gap: 24px;
    margin-top: 17px;
    /* padding: 2%; */
    box-sizing: border-box;
}

#relCateg_subCont{
    /* border: 1px solid red; */
    display: flex;
    box-sizing: border-box;
    box-shadow: 0 0 13px 0 rgb(0 0 0 / 10%);
    border-bottom: 1px #efefef solid;
}

#relCateg_subCont_divs{
    display: flex;
    box-sizing: border-box;
}

#relCateg_subCont_subDiv1, #relCateg_subCont_subDiv1_link_img{
    width: 150px;
    height: 150px;
    /* border: 1px solid blue; */
    box-sizing: border-box;
    border-right: 1px #efefef solid;
}

#relCateg_subCont_subDiv2{
    /* border: 1px solid green; */
    width: 250px;
    height: 150px;
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    box-sizing: border-box;

}

#relCateg_subCont_subDiv2_link{
    font-size: 18px;
    font-weight: 700;
    color: #111;
    text-decoration: none;
}

#relCateg_subCont_subDiv2_link:hover{
    color: #068076;
}

/* <!-- Feautured Recommendations --> */

#featRecmd{
    /* width: 1300px; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 500px);
    gap: 24px;
    /* padding: 4.6%; */
    box-sizing: border-box;
    /* border: 1px solid black; */
    margin: auto;
    /* margin-top: 4rem; */
    /* box-shadow: 0 0 13px 0 rgb(0 0 0 / 10%); */
}


/* bhavesh careousla css */


.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 28%;
    border: 0.8px solid rgb(204, 200, 200);


    display: grid;


    justify-content: center;
 
    align-items: center;
}

.swiper-slide img {
    /* display: block; */
    width: 100%;

    height: fit-content;


    /* height: 100%; */
    object-fit: cover;
}

.swiper {
    border: 1px solid rgb(207, 204, 204);
    width: 90%;
    height: 300px;
    margin: 20px auto;
    font-family: Arial, Helvetica, sans-serif;

}

.descswiper {


font-size: 14px;

    /* align-items: center; */
    text-align: center;

    margin: auto;
    margin-top: 250px;

    background-color: #505050;

    color: whitesmoke;
    width: 100%;
    height: 45px;


    position: absolute;

    transition: height .3s ease-in-out
}

.descswiper:hover {

    text-align: center;


    height: 200px;


}

.descswiper button {
    padding: 10px;
    color: green;
    font-weight: bold;
    border-radius: 5px;
    font-size: 14px;

}

.descswiper p>:hover {

    text-decoration: underline;
}




.descswiper button>a {

    text-decoration: underline;
    color: green;
}
/* bhavesh careousla css ends */

/* Deepak scrollToTop starts */

#btnScrollToTop{
    display: none;
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #058b80;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    outline: none;
    color: #fff;
    outline: none;
    cursor: pointer;
    border: none;
}

#btnScrollToTop:active {
    background: #074944;
}

.btnScrollToTop_link{
    font-weight: bolder;
    width: 20px;
    height: 20px;
}

/* Deepak scrollToTop ends */









