
/* #lipstickpage{
    border : 1px solid red
} */

.heading{
    margin-left:200px;
}
.img{

    display: block;
    margin: auto;
    width: 300px;
    height:300px;
    border: 1px #efefef solid;
}

.sub{
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    color: #333;
    /* width: 50%; */
    padding: 15px 60.5px 25px;

    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    border: 1px #efefef solid;
}


.sub:hover{
    border: 1px #efefef solid;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    /* transform: scale(1.01); */

}


.askbutton{

    background-color: teal;
    color:white;
    padding:10px;
    cursor: pointer;
    
    /* border-radius:5px; */
    display: block;
    margin: auto;
  
    margin-top: 15px;
    
    width: 258px;
    letter-spacing: -.1px;
    border-radius: 3px;
  
    
    }

    .askbutton:hover{
        transform:scale(1.06)
    }

    #box1{
        margin: auto;
        /* border: 1px solid red; */
        /* width:70%; */
        text-align: center;
        display: flex;
        gap:50px;
        /* justify-content: space-evenly; */
       
    }

    .sub .ain{
        display: block;
        margin-top: 10px;;
color:#2e3192;
text-decoration: underline;
    }

    .ain:hover{
        color:red;
    }
    .h2:hover{
        color:red;
    }


    #box2{

        
        margin: auto;
        margin-top:30px;
        /* border: 1px solid red; */
        width:80%;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        padding:20px;
    }


    
    #box3{

        
        margin: auto;
        margin-top:30px;
        /* border: 1px solid red; */
        width:80%;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        padding:20px;
    }

    

    
    #box4{

        
        margin: auto;
        margin-top:30px;
        /* border: 1px solid red; */
        width:80%;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        padding:20px;
    }