*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  body{
    font-family: sans-serif;
    overflow: hidden;
    user-select: none;
  }
  .akashnav{
    height: 70px;
    background:#2e3192;
  }
  .akashnav ul{
    float: right;
    margin-right: 30px;
  }
  .akashnav ul li{
    display: inline-block;
  }
  .akashnav ul li .akashactive{
    color: white;
    display: block;
    padding: 0 12px;
    line-height: 70px;
    font-size: 20px;
    background:#2e3192;
    transition: .5s;
  }
  .akashnav ul li a:hover,
  .akashnav ul li a.akashactive{
    color: #ffffff;
    font-size: medium;
  }
  .akashnav ul ul{
    position: absolute;
    top: 85px;
    border-top: 3px solid #ffffff;
    opacity: 0;
    visibility: hidden;
  }
  .akashnav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: .3s linear;
  }
  .akashnav ul ul li{
    width: 150px;
    display: list-item;
    position: relative;
    border: 1px solid #042331;
    border-top: none;
    line-height: 50px;
  }
  
  .akashnav ul ul ul{
    border-top: none;
  }
  .akashnav ul ul ul li{
    position: relative;
    top: -70px;
    left: 150px;
  }
  .akashnav ul ul li a i{
    margin-left: 45px;
  }
  section{
    background: url(bg.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
  }
  .hd_logo{
       font-weight: 400;
    line-height: 1;
    font-size: 12px;
    font-family: arial;
    outline: none;
    text-decoration: none;
    padding-left: 10px;
    float: left;
    display: block;
    margin: 8px 0 0 10px;  
     background-image: url(https://utils.imimg.com/globalhf/hrd-sp-v30.png);
     background-repeat: no-repeat;
    height: 40px;
    background-position: 0 1px;
    text-indent: -99999px;
    width: 170px;
    background-size: 235%;  
  
  }
  .hd_srch{
  font-weight: 400;
  line-height: 1;
  color: #333;
  font-size: 12px;
  font-family: arial;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  background-color: #fff;
  border-radius: 3px;
  height: 35px;
  width: 396px;
  margin-right: 10px;
  }
  .cvSbm{
color: black;
  }

#search-div{
  display: inline-block;
  margin-top: 12px;
  margin-left: -4px;
  width: 610px;
  height:50px;
  
}
#search-input{
  width: 480px;
  height:39.5px;
  font-size: large;
}
#search-input::placeholder{
padding-left: 5px;
}
#button{
  width: 110px;
  height:42.5px ;
 margin-top: 1px;
  margin-left: -4.5px;
  border-radius: 0 3px 3px 0;
  background-color: #00a699;
  color: white;
  font-size: large;
  border: none;
  cursor: pointer;
}
.o{
margin-right: 10px;
}
#button-B{
  width: 140px;
  height:43px ;
  background-color: white;
  color: blue;
  font-size: large;
  margin-left: 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;

}
.img{
  color: rgb(167, 167, 209);
  padding-right: 5px;
}
.img:hover{
color: white;
}
#sign-in{
  width: 140px;
  height:43px ;
  background-color: #3dc6bb;
  color: #170464;
  font-size: larger;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px;
}

#help{
  border: 1px solid black;
  padding: 10px;
  border: none;
  box-shadow: rgba(167, 167, 184, 0.338) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.buysell{
 padding-top: 10px;

}
.akashspan{
  font-size: 1.5em;
  font-size: larger;
  font-weight: bolder;
 
}
.akashgap{
  padding-top: 25px;
}
.akashgap:hover{
  font-style: italic;
}

#covid-supplies{
  border: 1px solid black;
  display: flex;
  padding: 10px;
  gap: 120px;
  border: none;
  box-shadow: rgba(167, 167, 184, 0.338) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.akashg{
  padding-top: 15px;
}
.akashspan-2{
  font-size: 1.5em;
  font-size: larger;
  font-weight: bolder;
}
.akashg-l{
  color: blue;
  padding-top: 15px;
  text-decoration: underline;
  font-weight: bold;
}
#button-AB{
  width: 140px;
  height:40.5px ;
  background-color: white;
  color: rgb(0, 0, 0);
  font-size: large;
  margin-left: 18px;
 
  border-radius: 4px 0 0 4px;
  border: none;
  cursor: pointer;
}
.w{
 margin-left: 20px;

}


