/* *{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
} */
/* body{
  font-family: sans-serif;
  overflow: hidden;
  user-select: none;
} */
.hd_logo {
  font-weight: 400;
  line-height: 1;
  font-size: 12px;
  font-family: arial;
  outline: none;
  text-decoration: none;
  margin: 15px;
  float: left;
  display: block;  
   background-image: url(https://utils.imimg.com/globalhf/hrd-sp-v30.png);
   background-repeat: no-repeat;
  height: 40px;
  background-position: 0 1px;
  text-indent: -99999px;
  width: 120px;
  background-size: 235%;  

}
#akash-navi{
  height: 70px;
  background: #13038c;
  box-shadow: 0 3px 15px rgba(0,0,0,.4);
 
}
.akash_navas ul{
  float: right;
  margin-right: 30px;
  
}
.akash_navas ul li{
  display: inline-block;
}
.akash_navas ul li a{
  color: white;
  display: block;
  padding: 0 5px;
  line-height: 70px;
  font-size: 12px !important;
  background: #13038c;
  transition: .5s;
  font-size: 14px;
}
.akash_navas ul li a:hover,
.akash_navas ul li a.active{
  color: #23dbdb;
}
.akash_navas ul ul{
  position: absolute;
  top: 85px;
  border-top: 3px solid #23dbdb;
  opacity: 0;
  visibility: hidden;
}
.akash_navas ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: .3s linear;
}
.akash_navas ul ul li{
  width: 150px;
  display: list-item;
  position: relative;
  border: 1px solid #042331;
  border-top: none;
}
.akash_navas ul ul li a{
  line-height: 50px;
}
.akash_navas ul ul ul{
  border-top: none;
}
.akash_navas ul ul ul li{
  position: relative;
  top: -70px;
  left: 150px;
}
.akash_navas ul ul li a i{
  margin-left: 45px;
  font-size: 1px !important;
}
section{
  background: url(bg.jpeg);
  background-position: center;
  background-size: cover;
  /* height: 100vh; */
}
#button-AB{
  width: 100px;
  height:40px ;  
  background-color: white;
  color: rgb(0, 0, 0);
  font-size:16px;
  font-weight: 600;
  border-radius: 4px 0 0 4px;
  border: none;
  cursor: pointer;
}

#search-div{
  display: inline-block;
  margin-top: 10px;
  /* margin-left: -2.8px ; */
  width: 400px;
  height:4px; 
 
}
#button-B{
  width:100px;
height:38px ;

background-color: white;
color: blue;
font-size:1px ;
transition: transform 1s ease-in-out;
border-radius: 4px;
border: none;
cursor: pointer;
}
#button-B h4{
  font-size: 14px;
  margin-top: 5px;
  font-weight: 400;
  padding: 6px 3px;

}
#search-input{
  width: 70%;
  height:41px;
  font-size: large;
  padding-left: 5px;
  margin-top: 6px;
}
#button{
  width: 25%;
  height:40.5px ;
 margin-top: 1px;
  margin-left: -4.5px;
  border-radius: 0 3px 3px 0;
  background-color: #00a699;
  color: white;
  font-size: large;
  border: none;
  cursor: pointer;
}
#covid-supplies{
  display: flex;
  box-shadow: rgba(37, 37, 43, 0.338) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  width: 500px;
 padding: 20px;
 color: #333;
 left: -80px;
gap: 80px;
z-index: 99999 !important;position: relative;opacity: 2000;background-color: #fff;
/* justify-content: space-between; */
}

#covid-1 p{
 /* margin-bottom: 0px; */
}
.akashg{
  /* margin-top: 10px; */
  font-size: 14px;
  color: #333;
  margin-bottom: 4px;
  
}
#help{
  box-shadow: rgba(37, 37, 43, 0.338) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
 padding: 20px;
 color: #333;
 z-index: 99999 !important;position: relative;opacity: 2000;background-color: #fff;
gap: 80px;
}
.akashspan{
  font-weight: bold;
  
}
.akashg:hover{
background-color: lavender;

}
.akashspan-2{
  font-weight: bold;
}
.akashg-l{
  color: blue;
  padding-top: 12px;
  text-decoration: underline;
  font-weight: bold;
  

}
.akashg-l:hover{
  background-color: lavender;

}
#help{
  box-shadow: rgba(37, 37, 43, 0.338) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
gap: 80px;
}
.space{
  word-spacing: 3px;
  line-height: 30px;
}
.space-2{
 margin-right: 20px;
}
#button-3{
/* display: block; */
text-align: center;
/* padding-top: 13px; */
margin-left: 25px;
width: 140px;
height:38px ;
background-color: #3dc6bb;
color: #170464;
font-size: larger;
border-radius: 5px;
transition: transform 1s ease-in-out;
border: none;

}
#last{
  box-shadow: rgba(167, 167, 184, 0.338) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 0 0 0 20px;
  width: 210px;
  gap: 80px;
  left: -110px;
  top: -10px;
  z-index: 99999 !important;position: relative;opacity: 2000;background-color: #fff;
}
.no{
 margin-top: 10px;
}
.ak{
  margin-top: 10px;
  padding: 2px 0 5px 0;
  text-align: center;
  font-size: 14px;
  color: #333
}
.img{
  color: rgb(167, 167, 209);
  padding-right: 5px;
}
.img:hover{
color: white;
}
